# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings
/bin/

# IntelliJ IDEA
/.idea/
/classes/
/out/
*.iml

# Gradle
.gradle/
/build/

# ProB
prob_log.txt
prob_test_log.txt
*.log
*.log.*
*.prob

# TestFX screenshots
screenshot*.png

src/main/resources/help/help_de/*.html
src/main/resources/help/help_de/*.adoc

src/main/resources/help/help_en/*.html
src/main/resources/help/help_en/*.adoc

src/main/resources/help/help_de/Hauptansicht/*.html
src/main/resources/help/help_de/Hauptansicht/*.adoc

src/main/resources/help/help_en/Main View/*.html
src/main/resources/help/help_en/Main View/*.adoc
