stages:
  - test
  - deploy

.test-common:
  stage: test
  variables:
    GRADLE_USER_HOME: "$CI_PROJECT_DIR/.gradle"
    GRADLE_OPTIONS: --no-daemon --info --stacktrace --warning-mode=all
  cache:
    paths:
      - .gradle/caches
      - .gradle/native
      - .gradle/wrapper
  artifacts:
    expire_in: 1 week
    paths:
      - build/distributions
      - build/libs

.test-linux:
  extends: .test-common
  before_script: &default_before_script_linux
    - export DEBIAN_FRONTEND="noninteractive"
    - apt-get update
    # git is needed to read the current commit hash.
    # pandoc is needed to build the ProB 2 UI docs.
    # LaTeX is needed by the documentation generator tests.
    # texlive-latex-extra is needed for the makecell and seqsplit packages,
    # otherwise texlive-latex-recommended would be enough.
    - apt-get install --assume-yes git pandoc texlive-latex-extra texlive-lang-german

test:jdk-21-linux:
  extends: .test-linux
  image: eclipse-temurin:21-jammy
  before_script:
    - *default_before_script_linux
    # build-essential and fakeroot are needed for jpackage.
    - apt-get install --assume-yes build-essential fakeroot
  script:
    - ./gradlew ${GRADLE_OPTIONS} check jpackage

test:jdk-21-macos-x86_64:
  extends: .test-common
  script:
    - ./gradlew ${GRADLE_OPTIONS} check jpackage
  tags:
    - macos
    - x86_64

test:jdk-21-macos-arm64:
  extends: .test-common
  script:
    - ./gradlew ${GRADLE_OPTIONS} check jpackage
  tags:
    - macos
    - arm64

test:jdk-21-windows64:
  extends: .test-common
  script:
    - cmd /c ".\gradlew.bat %GRADLE_OPTIONS% check jpackage"
  tags:
    - windows

deploy:snapshot:
  stage: deploy
  only:
    - develop@stups/prob/prob2_ui
  image: alpine:3
  before_script:
    - apk update
    - apk add lftp openssh-client
  script: LFTP_PASSWORD="${DEPLOY_PASSWORD}" lftp -c "set cmd:fail-exit true; set sftp:auto-confirm true; open --user ${DEPLOY_USERNAME} --env-password sftp://${DEPLOY_HOST}/${DEPLOY_REMOTE_BASEDIR}/downloads/prob2/snapshot/; mput -e build/distributions/*.deb build/distributions/*.dmg build/distributions/*.exe"

deploy:release:
  stage: deploy
  only:
    - master@stups/prob/prob2_ui
  image: alpine:3
  before_script:
    - apk update
    - apk add lftp openssh-client
  script: LFTP_PASSWORD="${DEPLOY_PASSWORD}" lftp -c "set cmd:fail-exit true; set sftp:auto-confirm true; open --user ${DEPLOY_USERNAME} --env-password sftp://${DEPLOY_HOST}/${DEPLOY_REMOTE_BASEDIR}/downloads/prob2/; mkdir release-next; cd release-next; mput build/distributions/*.deb build/distributions/*.dmg build/distributions/*.exe"
