# Mac
.DS_Store

# Eclipse
.classpath
.project
.settings
/bin/

# IntelliJ IDEA
/.idea/
/classes/
/out/
*.iml

# Gradle
.gradle/
/build/

# ProB
prob_log.txt
prob_test_log.txt
*.log
*.log.*
*.prob
*.prob2project.tmp
/states

# TestFX screenshots
screenshot*.png
