.root {
	-fx-base: #e5e5e5;
}

/************************************************************************************
 * Buttons & Icons																	*
 ************************************************************************************/
.button, .toggle-button, .menu-button {
	-fx-background-color: transparent;
}
.menu-button > .arrow-button > .arrow {
    -fx-background-color: #444444;
    -fx-opacity: 0.8;
}
.button-dark {
	-fx-background-color: #444444;
	-fx-background-radius: 100.0%;
	-fx-opacity: 0.8;
}

.icon-dark {
	-fx-fill: #444444;
	-fx-opacity: 0.8;
}

.button-dark:hover, .icon-dark:hover, .menu-button:hover > .arrow-button > .arrow, 
.menu-button:hover .icon-dark  {
	-fx-opacity: 1.0;
}

/************************************************************************************
 * ListView																			*
 ************************************************************************************/
.list-cell:odd {
	-fx-background: white;
}
.list-cell:empty:hover {
    -fx-background-color: white;
}
.list-cell:hover {
	-fx-background-color: #ededed;
}
.list-cell:pressed {
	-fx-text-fill: white;
}

/************************************************************************************
 * Menu																				*
 ************************************************************************************/
.context-menu {
 	-fx-background-color: #444444aa;
 	-fx-background-radius: 3;
}
.context-menu .menu-item > .label {
	-fx-text-fill: white;
}
.context-menu .menu-item:focused {
     -fx-background-color: #aaaaaadd;
}

 
/************************************************************************************
 * SplitView																		*
 ************************************************************************************/
.split-pane > .split-pane-divider {
    -fx-padding: 0.0 0.16em 0.0 0.16em; /* 0 3 0 3 */
}
/* horizontal the two nodes are placed to the left/right of each other. */
.split-pane:horizontal > .split-pane-divider {
   -fx-background-color: -fx-box-border, #555555;
}
/* vertical the two nodes are placed on top of each other. */
.split-pane:vertical > .split-pane-divider {
   -fx-background-color: -fx-box-border, #555555;
}

/************************************************************************************
 * Titled Pane																		*
 ************************************************************************************/
.titled-pane > .title {
    -fx-background-color: #bbbbbb;
}
.titled-pane > .title > .arrow-button > .arrow {
    -fx-background-color: #555555;
    -fx-background-insets: 1.0 0.0 -1.0 0.0, 0.0;
    -fx-padding: 0.25em 0.3125em 0.25em 0.3125em; /* 3 3.75 3 3.75 */
    -fx-shape: "M 0 0 h 7 l -3.5 4 z";
}

/************************************************************************************
 * TreeTableView																	*
 ************************************************************************************/
.tree-table-view .column-header {
	-fx-background-color: #bbbbbb;
}



/************************************************************************************
 * Specific Styles																	*
 ************************************************************************************/
/* ============= HISTORY VIEW ================== */
#past {
	-fx-font-family: ARIAL;
	-fx-font-weight: normal;
	-fx-font-size: 12.0px;
}

#present {
	-fx-font-family: ARIAL;
	-fx-font-weight: bold;
	-fx-font-size: 12.0px;
}

#future {
	-fx-font-family: ARIAL;
	-fx-fill: GRAY;
	-fx-font-style: italic;
	-fx-font-size: 12.0px;
}

/* ============= MODELCHECKING VIEW ================== */	
.mcheckSuccess {
	-fx-background-color: #d0ebd0;
	-fx-background-radius: 5.0 5.0 5.0 5.0;
}

.mcheckDanger {
	-fx-background-color: #ebd1d1;
	-fx-background-radius: 5.0 5.0 5.0 5.0;
}

.mcheckWarning {
	-fx-background-color:  #f1efcd;
	-fx-background-radius: 5.0 5.0 5.0 5.0;
}

.mcheckNoCheck {
	-fx-background-color:  #eeeeee;
	-fx-background-radius: 5.0 5.0 5.0 5.0;
}

.gridViewRow {
	-fx-border-color: transparent transparent grey transparent;
	-fx-border-width: 0.5;
}

.historyItemBackground {
	-fx-background-color: lightgrey;
}

.historyItemBackground:hover {
	-fx-background-color: grey;
}

.historyItemBackgroundSelected {
	-fx-background-color: lightgrey;
	-fx-border-color: grey;
}

.historyItemBackgroundSelected:hover {
	-fx-background-color: grey;
	-fx-border-color: grey;
}