.root {
	-fx-base: #e5e5e5;
}

/************************************************************************************
 * Buttons & Icons																	*
 ************************************************************************************/
.button, .toggle-button, .menu-button {
	-fx-background-color: transparent;
}
.menu-button > .arrow-button > .arrow {
    -fx-background-color: #444444;
    -fx-opacity: 0.8;
}
.button-dark {
	-fx-background-color: #444444;
	-fx-background-radius: 100.0%;
	-fx-opacity: 0.8;
}

.icon-dark {
	-fx-fill: #444444;
	-fx-opacity: 0.8;
}

.button-dark:hover, .icon-dark:hover, .menu-button:hover > .arrow-button > .arrow, 
.menu-button:hover .icon-dark  {
	-fx-opacity: 1.0;
}

/************************************************************************************
 * ListView																			*
 ************************************************************************************/
}
}
}
}

}
}

 
}

}

}

.reverse {
	-fx-image: url("glyphicons_free/glyphicons/png/glyphicons-404-sorting.png")
}


}

#past {
	-fx-font-family: ARIAL;
	-fx-font-weight: normal;
}

#present {
	-fx-font-family: ARIAL;
	-fx-font-weight: bold;
}

#future {
	-fx-font-family: ARIAL;
	-fx-fill: GRAY;
	-fx-font-style: italic;
	-fx-font-size: 12.0px;
}
	
.mcheckSuccess {
	-fx-background-color: #d0ebd0;
}

.mcheckDanger {
	-fx-background-color: #ebd1d1;
}

.mcheckWarning {
	-fx-background-color:  #f1efcd;
}

.mcheckNoCheck {
	-fx-background-color:  #eeeeee;
}

.gridViewRow {
	-fx-border-color: transparent transparent grey transparent;
	-fx-border-width: 0.5;
}

.historyItemBackground {
	-fx-background-color: lightgrey;
}

.historyItemBackgroundSelected {
	-fx-background-color: lightgrey;
	-fx-border-color: grey;
}