span.container {
	position: absolute;
	top: 50px;
	bottom: 0;
	left: 0;
	right: 0;

	padding: 15px 25px;
	padding-top: 0;
}

span.cm-s-default span.cm-comment {
	color: #3F7F5F;
}

span.cm-s-default span.cm-keyword {
	color: #7F0055;
	font-weight: bold;
	line-height: 1em;
}

span.cm-s-default span.cm-atom , span.cm-s-default span.cm-number {
	color: #33AA33;
}

span.cm-s-default span.cm-ltl, span.cm-s-default span.cm-boolean {
	color: #00AAAA;
}

span.cm-s-default span.cm-scope {
	color: #221199;
	font-weight: bold;
	line-height: 1em;
}
