digraph {
node [style="filled"]
#foreach( $node in $nodes) 
    #if($node.getId() == "$initialise_machine_event")
        "$node.getId()" [fillcolor= $node.getColour(), label= "[ init ]", shape = "plaintext"];
    #else
        #if($node.getId() == "User")
            "User"[fillcolor = $node.getColour(), label = "[User]", shape = "plaintext"];
        #else
            "$node.getId()" [fillcolor= $node.getColour(), label= "$node.getLabel()", shape= "$node.getStyle()"];
        #end
    #end
#end
#foreach($con in $activations)
    #set($id = $con.getFrom())
    #foreach($toactivate in $con.getTo())
        #if($id == "$initialise_machine_event")
            "$id" -> "$toactivate" [style= "$con.getColour()"];
        #else
            "$id" -> "$toactivate" [label = "$con.getEdgeLabel().get($foreach.index)", style= "$con.getColour()"];
        #end
    #end
#end
}

