<!DOCTYPE html>
<html>
<head>
    {{! This is for zooming in and out and scaling the image to the right width and height}}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="{{jqueryLink}}"></script>
    <script>
        function checkSvgId(id,ctxt){
            if(!$(id).length) {
                $("#visb_error_messages ul").append("<li>Unknown SVG id <b>" + id + "</b> for " + ctxt + "</li>");
        }}

        function changeAttribute(id, attribute, value){
            $(document).ready(function(){
                if(attribute=="text") {
                    $(id).text(value);
                } else {
                    $(id).attr(attribute, value);
                }
                {{! Provide warning alert if an SVG object id cannot be found:}}
                checkSvgId(id,attribute);
            });
        }
    </script>
    </head>
<body>

    <div text-align="center"> {{&svgFile}}
    </div>
    <div id="visb_error_messages" style="color:red"><ul></ul>
    </div>
    </body>
</html>